
<div class="row-fluid">
	<div class="span7 offset1">
		<div class="row-fluid">
			<div class="span12"><%= render :partial => @posts %></div>
		</div>
	</div>
	<div class="span4">
		<br>
		<div class="row-fluid">
			<div class="span2 offset2">
				<%= mail_to("petrarca.11@osu.edu", image_tag("email-32.png")) %>
			</div>
			<div class="span2">
				<%=link_to( image_tag("github-32.png"), "https://github.com/danielpetrarca") %>
			</div>
			<div class="span2">
				<%=link_to( image_tag("linkedin-32.png"), "http://www.linkedin.com/in/danielpetrarca" ) %>
			</div>
			<div class="span2">
				<%=link_to( image_tag("twitter-32.png"), "https://twitter.com/danhaveadream" ) %>
			</div>
		</div>
		<h3>Hello.</h3>
	    	<img src="http://placehold.it/300x250" alt="">
	    	<p class="lead">This is a paragraph describing me</p>
	</div>
</div>